ul{
  display: flex;
  gap: 10px;
}

li {
  font-size: 18px;
  list-style: none;
  background: #9f9f9f;
  border-radius: 6px;
  width: 70px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

a{
  color: rgb(8, 243, 8);
}